{{ $blog := .blog }}
{{ $page := .page }}

<div class="article-list-item" itemscope itemprop="blogPost">
  {{ if $blog.Params.image }}
  <a href="{{ $blog.Permalink }}">
    <img src="{{ "/img/" | relURL }}{{ $blog.Params.image }}" class="article-banner"
    itemprop="image">
  </a>
  {{end}}
    <h2 class="article-title" itemprop="name"><a href="{{ $blog.Permalink }}" itemprop="url">{{ $blog.Title }}</a></h2>
    {{ partial "article_metadata" (dict "content" $blog "is_list" 1) }}
    <div class="article-style" itemprop="articleBody"><p>
      {{ if $blog.Description }}
      {{ printf "%s" $blog.Description | markdownify }}
      {{ else if $blog.Truncated }}
      {{ printf "%s" $blog.Summary | markdownify }}
      {{ else }}
      {{ $blog.Content }}
      {{ end }}

  <p class="read-more">
    <a href="{{ $blog.Permalink }}" class="btn btn-default btn-outline">
      read on
    </a>
  </p>
</div>
