{{ partial "header.html" . }}
{{ partial "navbar.html" . }}
<div class="container">
    <article class="article" itemscope itemtype="http://schema.org/Article">
    <h1 style="font-size:3em; color:#B31B1B" itemprop="name">unavailable URL</h1>
    <div class="article-style" itemprop="articleBody">
      The <a href="https://en.wikipedia.org/wiki/URL" target="_blank">URL</a> you have requested is not available. This is most likely a bad link, although it is possible you are behind an oppressive firewall, under a large boulder, or have broken out of the Cantor Continuum or found a logical inconsistency in generally accepted mathematics.
    </div>
    <h3><a href="/">Return to main page</a></h3>
  </article>
  </div>
{{ partial "footer_container.html" . }}
{{ partial "footer.html" . }}
