{{ partial "blogheader.html" . }}
{{ partial "blognavbar.html" . }}
<div class="container">

  <h1><span style="color:#B31B1B;">m</span>eticulousness, <span style="color:#B31B1B;">a</span>bstraction, <span style="color:#B31B1B;">x</span>yz</h1>
  <!--<h4><a href="/">(back to main site&nbsp;<i class="fa fa-level-up" aria-hidden="true"></i>)</a></h4>-->

  {{ $paginator := .Paginate .Data.Pages }}
  {{ range $paginator.Pages }}
  <div>
    {{ if .Params.image }}
    <a href="{{ .Permalink }}">
      <img src="{{ $.Site.BaseURL }}img/{{ .Params.image }}" class="article-banner">
    </a>
    {{end}}
    <h2><a href="{{ .Permalink }}">{{ .Title }}</a></h2>
    {{ partial "article_metadata" (dict "content" . "is_list" 1) }}
    <div class="article-style"><p>
      {{ if .Description }}
      {{ printf "%s" .Description | markdownify }}
      {{ else if .Truncated }}
      {{ printf "%s" .Summary | markdownify }}
      {{ else }}
      {{ .Content }}
      {{ end }}

  <p class="read-more">
    <a href="{{ .Permalink }}" class="btn btn-default btn-outline">
      read on
    </a>
  </p>

    </p></div>
  </div>
  {{ end }}

  {{ partial "pagination" . }}

</div>
{{ partial "footer_container.html" . }}
{{ partial "footer.html" . }}
